<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Progressive>
            <version>1.0.0</version>
        </Mygento_Progressive>
    </modules>
    <global>
        <helpers>
            <progressive>
                <class>Mygento_Progressive_Helper</class>
            </progressive>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <progressive>
                    <files>
                        <default>Mygento_Progressive.csv</default>
                    </files>
                </progressive>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <progressive>
                                            <title>Mygento Progressive Jpeg Configuration</title>
                                        </progressive>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <progressive>
            <general>
                <enabled>0</enabled>
            </general>
        </progressive>
    </default>
</config>
